.movers-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movers-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;                             
  padding: 16px;
    
}
.card-percent-change{
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 24px;
  font-weight: bold;
}


.movers-buttons{
    margin-top: 20px;
    margin-bottom: 20px;
}
.movers-toggle {
  color: #ffffff;              
  background-color: #3b3b3b;   
  border: 1px solid #4a4a4a;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 5px;        
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.movers-toggle-active {
  color: white;
  background-color: #0EA5E9;
  border: none;
  padding: 8px 16px;         
  margin: 0 4px;            
  border-radius: 5px;      
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.movers-toggle:hover {
  background-color: #3a404a; 
}
.movers-toggle-active:hover {
  background-color: #0EA5E9;
}

.movers-toggle:active {
  transform: scale(0.95);    
}