
.stocks-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;                             
  padding: 16px;
}

.stock-card {
  position: relative;                   
  background-color: #22262e;             
  color: #E0E0E0;                       
  border: 1px solid #3a404a;            
  border-radius: 8px;                     
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-height: 100px;                          
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.stock-card:hover {
  background-color: #2a2f38;
  border-color: #3a404a;
}

.stock-symbol {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 16px;
  font-weight: bold;
}

.stock-name {
  font-size: 20px;
  font-weight: 600;
}
.input-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;                 
  margin-bottom: 24px;      
  flex-wrap: wrap;           
  width: 50%;
}

.filter-stocks {
  background-color: #2a2f38;
  color: #E0E0E0;
  border: 1px solid #3a404a;
  width: 25%;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  outline: none;
  flex: 1;                    
  transition: all 0.2s ease;
  margin-left: 3%;
}

.filter-stocks::placeholder {
  color: #aaaaaa;
}

.filter-stocks:focus {
  background-color: #2a2f38;
  border-color: #0EA5E9 ;
}

.search-symbol-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;                 
}

.search-symbol {
  background-color: #2a2f38;
  color: #E0E0E0;
  border: 1px solid #3a404a;
  width: 32%;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
}

.search-symbol::placeholder {
  color: #aaaaaa;
}

.search-symbol:focus {
  background-color: #2a2f38;
  border-color: #0EA5E9  ;
}

.search-symbol-submit {
  background-color: #0EA5E9  ;   
  color: #ffffff;
  border: 1px solid #005a9e;  
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.search-symbol-submit:hover {
  background-color: #0EA5E9  ;
  border-color: #004080;
  transform: scale(1.05);
}
