.sign-up-page {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.sign-up-form {
  background-color: #22262e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.sign-up-form input {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #1a1d24;
  color: #fff;
}

.sign-up-form input::placeholder {
  color: #aaa;
}

.submit-button {
  padding: 0.75rem;
  background-color: #0EA5E9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button:hover:not(:disabled) {
    background-color: #0284c7;
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(14, 165, 233, 0.3);
}
.sign-in-loading{
  margin-left: 48%;
}
