.indices-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.indices-stock-chart{
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    gap: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* semi-bold */
    margin-left: 8%;
    border-radius: 5px;
}

.title-date{
    display: flex;
    flex-direction: column;
}
.chart-title{
    margin-left: 20px;
}
.chart-date{
    margin-left: 4%;
    margin-top: 0px;
}
.chart{
    margin-left: 20px;
    margin-bottom: 20px;
}